.body {
    background-color: burlywood;
}
.h1 { 
    background-color: blanchedalmond; text-align: left;
}

.h2 {
    vertical-align: bottom;
    text-align: right; color: darkcyan; background-color: darkblue;
}
.p {
    vertical-align: bottom; text-align: right;
}
.footer {
    text-align: center; vertical-align: bottom;
    border: 2px solid darkolivegreen
}